<div class="hometopbanner">
	<img alt="" src="/themes/nestle/images/home_page_banner.jpg" width="100%" />
	<br/>
	<div class="home_top_dic">
		<h1><span>live YOUR TASTE </span><span> experience</span></h1>
		<h3>Create your combination of inspirations</h3>
		<div class="homediscover"><a href="/create-taste-experience">discover</a></div>
	</div>
</div>
