<div class="clear"></div>

<footer class="col-md-12 col-sm-12 col-lg-12 col-xs-12 footer container-fluid">
	<div id="backtotop" class="jquery-once-2-processed jquery-once-1-processed" style="display: block;">Back to top</div>
	<div class="footer-menu footer-link-section">
	
	<div class="col-md-12 col-xs-12 col-sm-6 ">
					<ul class="menu nav">
									<li class="first leaf"><a href="https://itinerariesoftaste.sanpellegrino.com/taxonomy/term/22">City Guides</a></li>
			<li class="leaf"><a href="https://itinerariesoftaste.sanpellegrino.com/taxonomy/term/1">Food Guide</a></li>
			<li class="leaf"><a href="https://itinerariesoftaste.sanpellegrino.com/create-taste-experience">Your taste experience</a></li>
									<li class="leaf"><a href="https://itinerariesoftaste.sanpellegrino.com/secrets-taste">Secrets of taste</a></li>
			<li class="leaf"><a href="https://itinerariesoftaste.sanpellegrino.com/taxonomy/term/2">style guide</a></li>
			<li class="leaf"><a href="https://itinerariesoftaste.sanpellegrino.com/user/register">club s.pellegrino</a></li>
									<li class="leaf"><a href="https://itinerariesoftaste.sanpellegrino.com/tales-taste-lovers">tales from taste lovers</a></li>
			<li class="leaf"><a href="https://itinerariesoftaste.sanpellegrino.com/taxonomy/term/3">Design guide</a></li>
			<li class="last leaf"><a href="https://itinerariesoftaste.sanpellegrino.com/"></a></li>
						</ul>
		</div>
	</div>
	
	<div class="footer-social footer-link-section">
		<div class="col-md-12 col-xs-12 col-sm-6">
		
					<p class="sign_up"><a href="https://itinerariesoftaste.sanpellegrino.com/user/register">Iscriviti al Club S. Pellegrino</a></p>
				<ul class="social-list">
				<li class="facebook"><a href="https://www.facebook.com/SanPellegrino/" target="_BLANK">
				
				</a></li>
<li class="instagram">
<a href="https://www.instagram.com/sanpellegrino_official/" target="_BLANK">

</a></li>
<li class="youtube"><a href="https://www.youtube.com/user/SanPellegrinoTV" target="_BLANK">

</a></li>
<li class="pintrest"><a href="http://www.pinterest.com/SanPellegrino/" target="_BLANK">

</a></li>
</ul>	

</div>
</div>
	

  <div class="region region-footer">
  <div class="logo_footer">
	<a href="https://itinerariesoftaste.sanpellegrino.com/it">
	
	<img alt="" height="193" src="/themes/nestle/images/iot-footer-it.png" width="193">
	
	</a>
                                  </div>
								  
    <section id="block-block-3" class="block block-block clearfix">

      
  <p><a class="col-md-3 col-lg-3 col-sm-6 col-xs-6 footer-img" href="#" target="_blank">
  <img alt=""  src="/themes/nestle/images/img-sphires.jpg"></a>
  <a class="col-md-3 col-lg-3 col-sm-6 col-xs-6 footer-img" href="#" target="_blank"> 
  <img alt=""  height="104" src="/themes/nestle/images/img-2.jpg" width="169"></a>
  <a class="col-md-3 col-lg-3 col-sm-6 col-xs-6" href="#" target="_blank"> 
  <img alt="" height="104" src="/themes/nestle/images/img-4.jpg" width="169"></a>
  <a class="col-md-3 col-lg-3 col-sm-6 col-xs-6" href="#" target="_blank"> 
  <img alt="" height="104" src="/themes/nestle/images/img-3.jpg" width="169"></a>
  </p>

</section>
  </div>
	<div class="footer-credits col-md-12 col-xs-12 col-sm-12 col-lg-12 col-xs-12">
		<div class="copyright-left-section col-md-12 col-sm-12 col-xs-12">
		<p>© 2017 SANPELLEGRINO - P. IVA 00753740158</p>
		</div>
		
	</div>
</footer>