@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Oswald');


#content { width: 97.4%; }

body {
	font-family: "Playfair Display",serif;
	 left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/body.jpg);
    background-repeat: repeat;
    background-position: center top;
    background-size: 100%;
    background-origin: -box;
}

p {
    margin: 10px 0 10px;
}

.view-country-header-block h2 {
	font-family: "Playfair Display",serif;
    position: relative;
    font-size: 60px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 14px;
    color: #060e33;
    font-size: 80px;
}

.view-country-header-block h3 {
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
	text-align: center;
	font-family: "Playfair Display",serif;
}

.view-country-header-block p {
	font-family: "Playfair Display",serif;
    text-align: center;
    font-size: 21px;
    line-height: 1.3;
    width: 75%;
    margin: 30px auto;
}

h2.city-title,
.view-list-of-city-by-country h2.city-title
{
    position: relative;
    font-family: "Oswald",sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

a h2.city-title,
.view-list-of-city-by-country h2.city-title a
{
	color:#060e33;
}

img.responsive-image {
	width: 100%;
}

.view-list-of-city-by-country .views-field-description__value p{
	    margin-bottom: 2em;
    line-height: 1.5;
	    text-align: center;
}

#block-homepagecountrylistblock h2.country-block-title,
.block-views.block-views-blockcountry-boxes-other-than-current-block-1 h2.block-title
{
	font-family: "Playfair Display",serif;
    position: relative;
    font-size: 48px;
    text-transform: uppercase;
	text-align:center;
	margin-bottom:30px;
}

.block-views.block-views-blockcountry-boxes-other-than-current-block-1 h4 {
	
	    position: relative;
    font-family: "Oswald",sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

.block-views.block-views-blockcountry-boxes-other-than-current-block-1 h4 a{
color:#060e33;	
}

.three_col_products_block h5,
.view-city-guide-articles-3-column-country-page h5 {
 position: relative;
    font-family: "Oswald",sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}


.three_col_products_block a h5,
.view-city-guide-articles-3-column-country-page h5 a {
color:#060e33;	
}

/* .view-list-of-city-by-country::after{
	: '';
    display: block;
    margin: 14px auto 0 auto;
    background-repeat: no-repeat;
    width: 97%;
    height: 15px;
    border-bottom: 5px solid gray;
	
} */

.view-list-of-city-by-country::before{
	: '';
    display: block;
    margin: 14px auto 40px;
    background-repeat: no-repeat;
    width: 97%;
    height: 15px;
    border-bottom: 5px solid gray;
	
}

.view-city-guide-articles-3-column-country-page::before{
	: '';
    display: block;
    margin: 14px auto 40px;
    background-repeat: no-repeat;
    width: 97%;
    height: 15px;
    border-bottom: 5px solid gray;
}

.list-style {
	list-style: none;
	padding-left: 0px;
}

.list-style li {
	margin-bottom: 30px;
}

.warning {
	position: relative;
    
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: "Oswald",sans-serif;
    font-size: 24px;
    text-transform: uppercase;
	
}

.button {
	display: inline-block;
    padding: 0.75em 5em;
    border: 1px solid;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    transition: all 0.25s ease;
	
}

.img-responsive {
	width:100%;
}

.view-city-guide-articles-pagination span.view-more {
	display: inline-block;
    padding: 0.75em 5em;
    border: 1px solid;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    transition: all 0.25s ease;
	
}
.view-city-guide-articles-pagination span.view-more a {
	color: #000000;
}
.view-city-guide-articles-pagination span.view-more a:hover{
	text-decoration: none;
}

.view-city-guide-articles-pagination span.view-more:hover {
color: #fff;
    border-color: #f92f3b;
    background: #f92f3b;	
	
}

.country-name {
	 position: relative;
    font-family: "Oswald",sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
	display:block;
}

.country-name a{
	color:#000000;
	
}
/*Menu*/
.menu-main-wrapper {
    position: fixed;
    top: 55px;
    left: -1000px;
    bottom: 0;
    min-height: 100%;
    width: 370px;
    z-index: 999;
    max-height: 100%;
    transition: 0.25s ease-in-out;
}

#top {
    background: #05173a;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    right: 0;
    height: 54px;
}

.header-menu-btn {
    position: relative;
    padding: 18px;
    float: left;
    z-index: 1;
}

.header-menu-btn #nav-icon3 {
    width: 36px;
    height: 18px;
    position: relative;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.header-menu-btn #nav-icon3 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius: 0;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    transition: 0.1s ease-in-out;
}

.header-menu-btn #nav-icon3 span:nth-child(1) {
    top: 0;
}
.header-menu-btn #nav-icon3 span:nth-child(2), .header-menu-btn #nav-icon3 span:nth-child(3) {
    top: 6px;
}
.header-menu-btn #nav-icon3 span:nth-child(4) {
    top: 12px;
}

.region-navigation {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.region-socialshare .nav > li > a {
	float:left;
}
.region-socialshare .nav > li > a:hover {
	background-color: transparent;
}

.region-useraccount {
	position: absolute;
    right: 30px;
    top: 0;
}

.facebook a {
	background-image: url(../images/facebook.png);
	background-repeat: no-repeat;
    text-indent: -99999px;
    margin: 15px 0 0;
}

.instagram a {
	background-image: url(../images/instagram.png);
	background-repeat: no-repeat;
    text-indent: -99999px;
    margin: 15px 0 0;
}

.pintrest a {
	background-image: url(../images/pinterest.png);
	background-repeat: no-repeat;
    text-indent: -99999px;
    margin: 15px 0 0;
}

.youtube a {
	background-image: url(../images/youtube.png);
	background-repeat: no-repeat;
    text-indent: -99999px;
    margin: 15px 0 0;
}

.navbar-brand {
	color: #fff;
}

.region-useraccount .navbar-nav > li > a {
	color: #fff;
	text-transform:uppercase;
}



.menu-main-wrapper .main-menu {
    position: relative;
    top: 0;
    bottom: 0;
    height: 100%;
    padding: 30px 0;
    background: rgba(227,244,251,0.9);
}

.menu-main-wrapper .main-menu li {
    max-width: 200px;
    margin: 0px 94px 0px 70px;
    display: inline-block;
}

.menu-main-wrapper .main-menu li a {
    text-transform: uppercase;
    font-family: "Oswald",sans-serif;
    font-size: 20px;
    font-style: normal;
    letter-spacing: 25;
    color: #060e33;
}

.menu-main-wrapper .main-menu li a:hover {
    background-color: transparent;
}

.navbar-brand:hover {
	color:#fff;
}

.region-useraccount .navbar-nav > li > a:hover{
	background-color: transparent;
	
}

 .header-menu-btn #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
}
.header-menu-btn #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.header-menu-btn #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.header-menu-btn #nav-icon3.open span:nth-child(4) {
    top: 12px;
    width: 0;
    left: 50%;
    opacity: 0;
}  

.product-wrapper {
	width: 980px;
    margin: 0 auto;
}

.container-wrapper {
	text-align:center;
}

.nav.nav-tabs li {
 box-sizing: border-box;
    cursor: pointer;
    position: relative;
    display: table-cell;
    font-family: "Oswald",sans-serif;
    font-size: 18px;
    white-space: nowrap;
    padding: 0.3em 1.2em;
    border: 1px solid #b5e3f4;
    
    transition: background-color 0.25s ease;
	
}
   .nav.nav-tabs li a {
	   width: 156px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	padding: 0px 15px;
	text-transform: uppercase;
	background-color: transparent;
	border:none;
    text-align:center;	   
   }
   
   .nav.nav-tabs {
	display: table;
    margin-right: auto;
    margin-left: auto;
	   
   }
   
   .container-wrapper h4 {
	   display: inline-block;
    position: relative;
    font-size: 48px;
    text-transform: uppercase;
    width: 100%;
	   
   }
.container-wrapper h4::after {
	: '';
    display: block;
    margin: 14px auto 0 auto;
    background-image: url(../images/section_title_mustache.png);
    background-repeat: no-repeat;
    width: 62px;
    height: 15px;

	
}

.nav.nav-tabs li a:hover {
	color: #555;
    cursor:pointer;
    background-color: transparent;
    border: none;
    border-bottom-color: transparent;
	
}

.country_hub_banner,
.city_hub_banner 
{
	position:relative;
}

.country_hub_banner h3

{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 80px;
	font-family: Playfair Display;
	font-weight: 400;
	line-height: 68px;
	background: -owg-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
	-pie-background: -pie-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
	background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
	
	margin: 0px;
}

.city_hub_banner h3 
{
	    position: absolute;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    font-family: Playfair Display;
    font-weight: 700;
    line-height: 24px;
    width: 100%;
    text-align: center;
    bottom: 0px;
    font-style: italic;
    left: 0;
}
.country_header .top_description p,
.city_header .top_description p 
{
    color: #060E33;
    font-size: 21px;
    font-family: Playfair Display;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.country_header h1
{
    color: #060E33;
    font-size: 120px;
    font-family: Playfair Display;
    font-weight: 400;
    line-height: 120px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 60px;
}

.city_header h1 
{
     color: #060e33;
    font-size: 46px;
    font-family: Playfair Display;
    font-weight: 400;
    line-height: 46px;
    padding: 0 0 0 0;
    margin: 30px 0 28px 0;
    text-transform: uppercase;
    line-height: 25px;
    text-align: center;
}
.country_header .top_description h2,
.city_header .top_description h2 
{
    width: 50%;
    margin: 0 auto;
	text-align: center;
}

.footer {
	background: url(../images/footer.jpg);
    position: relative;
	border:none;
	margin-top: 0px;
	padding: 15px 0 0 0;
}
    
.footer-menu li {
		width:30%;
		float:left;
}

.footer-menu li a {
	
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}	

.footer-menu li a:hover {
	background-color: transparent;
	text-decoration: underline;
}

.sign_up {
float:left;
	
}

.social-list {
	float:left;
	margin-left: 50px;
	
}

.social-list li {
	
	display: inline-block;
    width: 50px;
}

.region-footer {
	float:left;
	width:100%;
	
}

#block-block-3 {
	background: #070c34;
	text-align:center;
}



.sign_up a{
    display: inline-block;
    color: #fff;
    border: 1px solid #c5e9f7;
    color: #fff;
    font-size: 14px;
    opacity: 0.7;
    padding: 6px;
}	

.sign_up a:hover {
	text-decoration:none;
}

.footer-credits {
    margin: 0 auto;
    color: #9497a7;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 20px;
    text-align: center;
}

#block-block-3 img {
	text-align:center;
}

.view-city-guide-articles-pagination {
	width:80%;
	margin:0 auto;
}


#backtotop {
	position: absolute;
    top: -42px;
    right: 0;
    background: transparent;
    padding: 5px 12px;
    display: block;
    font-size: 30px;
    color: rgba(5,23,58,0.8);
    text-indent: -99999px;
}

.social-list .facebook a {
	background-image: url(../images/facebook.png);
	background-repeat: no-repeat;
    text-indent: -99999px;
    margin: 15px 0 0;
	float: left;
    width: 27px;
    height: 27px;
}

.social-list .instagram a {
	background-image: url(../images/instagram.png);
	background-repeat: no-repeat;
    text-indent: -99999px;
    margin: 15px 0 0;
	    float: left;
    width: 27px;
    height: 27px;
}

.social-list .pintrest a {
	background-image: url(../images/pinterest.png);
	background-repeat: no-repeat;
    text-indent: -99999px;
    margin: 15px 0 0;
	    float: left;
    width: 27px;
    height: 27px;
}

.social-list .youtube a {
	background-image: url(../images/youtube.png);
	background-repeat: no-repeat;
    text-indent: -99999px;
    margin: 15px 0 0;
	    float: left;
    width: 27px;
    height: 27px;
}

#block-helloblock-2 h2 {
	    color: #060e33;
	position: relative;
    font-family: "Oswald",sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

#block-helloblock-2 {
	margin-top: 40px;
}


@media (max-width:767px){
	
	.region-socialshare {
		display: none;
	}

	}
